# NOTE - CHANGE PASSWORDS [!]

# ADMIN USER 
ADMIN_USER=admin
ADMIN_PASSWORD=password

# POSTGRES 
POSTGRES_DB=upserver_postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=upserver-postgres
POSTGRES_PORT=5432

# INTERFACE [CHANGE SECRET KEY]
SECRET_KEY=django-insecure-@x5%xegdelq=s!fybiup=pktful_+!t%x42y1!hh_=-p7$kz9s 
DEBUG=0

# INTEGRATIONS [CLICKHOUSE LOGGER https://github.com/Sobolev5/django-clickhouse-logger]
CLICKHOUSE_HOST=upserver-clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=default

# INTEGRATIONS [SIMPLE PRINT https://github.com/Sobolev5/simple-print] 
RABBITMQ_HOST=upserver-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin 
RABBITMQ_PASSWORD=admin

