# ADMIN USER [CHANGE ALL]
ADMIN_USER=admin
ADMIN_PASSWORD=password

# DATABASE [CHANGE IF NECESSARY, NOT REQUIRED]
POSTGRES_DB=upserver_db
POSTGRES_USER=upserver_db_user
POSTGRES_PASSWORD=upserver_db_password
POSTGRES_HOST=upserver-postgres
POSTGRES_PORT=5432

# INTERFACE [CHANGE SECRET KEY]
SECRET_KEY=django-insecure-@x5%xegdelq=s!fybiup=pktful_+!t%x42y1!hh_=-p7$kz9s 
DEBUG=0

