asgiref==3.5.2
asttokens==2.0.5
certifi==2022.12.7
charset-normalizer==2.1.1
clickhouse-driver==0.2.4
Django==4.1.1
django-clickhouse-logger==0.3.1
executing==0.8.1
gunicorn==20.1.0
idna==3.4
orjson==3.8.3
pika==1.3.1
psycopg2-binary==2.9.3
pydantic==1.10.2
python-dotenv==0.21.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
shortuuid==1.0.9
simple-print==1.6.14
six==1.16.0
sqlparse==0.4.3
termcolor==1.1.0
typing_extensions==4.3.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
whitenoise==6.2.0
